<div class="subtitle">Current Issue</div>
<div class="tips">
  <ul>
    <li>This is the current issue which your team is talking about.</li>
    <li>Press [Enter] key to thumb up and [Space] key to thumb down.</li>
    <li>Once half of the team members thumb up, the countdown will be incremented by 30 seconds.</li>
  </ul>
</div>
<div class="current-issue" data-issue-id="<%= @current_issue.id %>">
  <% if @current_issue %>
    <div class="issue-list-wrapper">
      <div class="issue-list">
        <div class="issue-box" data-session-id="<%= @s.id %>" data-issue-id="<%= @current_issue.id %>">
          <span class="votes-count"><%= @current_issue.vote %> <%= 'vote'.pluralize(@current_issue.vote) %></span>
          <span class="issue-detail"><%= @current_issue.detail %></span>
        </div>
      </div>
    </div>
    <div class="thumb-graph-wrapper">
      <hr class="half-divider">
      <div class="up-graph-wrapper">
        <div class="up-growth">
          
        </div>
      </div>
      <div class="down-graph-wrapper">
        <div class="down-growth">
          
        </div>
      </div>
    </div>
    <div class="thumb">
      <div class="thumb-wrapper up" data-issue-id="<%= @current_issue.id %>">
        <div class="up-count"><%= @current_issue.thumb_up %></div>
        <i class="fa fa-thumbs-o-up"></i>
      </div>
      <div class="thumb-wrapper down" data-issue-id="<%= @current_issue.id %>">
        <div class="down-count"><%= @current_issue.thumb_down %></div>
        <i class="fa fa-thumbs-o-down"></i>
      </div>
    </div>
    <%= render 'session/add_note.html.erb', :current_issue => @current_issue %>
  <% else %>
    <div class="issue-list-wrapper">
      <div class="issue-list">
        <div class="issue-box no-more-issues" data-session-id="<%= @s.id %>" data-issue-id="<%= @current_issue.id %>">
           No More Issues!
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $.ajax({
      url: '/issues/get-sec-elapsed',
      type: 'GET',
      dataType: 'JSON',
      data: { 'cur_issue_id': <%= @current_issue.id %> },
      success: function(response) {
        count_down(15 - parseInt(response.data));
      },
      error: function(response) {

      }
    });
  });
</script>