<%= form_tag(:show_session_params_id) do %>
  <label>Please enter session id:</label>
  <%= text_field_tag 'id' %>
  <%= submit_tag 'Join' %>
<% end %>

<%= form_tag(:create_session) do %>
  <label>Create a session</label>
  <%= submit_tag 'Create' %>
<% end %>
