<div class="welcome-wrapper">
  <div class="title">Welcome to Retro</div>
  <div class="tips">
    <ul>
      <li>You can join a session by enter your session id below.</li>
      <li>You can also create a new session.</li>
      <li>The person who creates the session will be the host for that Retro plan meeting.</li>
    </ul>
  </div>
</div>

<div class="session-join-create-wrapper">
  <%= form_tag(:show_session_params_id, :class => "join-session-form") do %>
    <%= text_field_tag 'id', nil, :placeholder => "Please enter session id:", class: "session-id inline"%>
    <%= submit_tag 'Join', class: "session-id-submit inline" %>
  <% end %>
  <div class="or-wrapper">
    <span>or</span>
    <hr>
  </div>
  <%= form_tag(:create_session, :class => "create-session-form") do %>
    <%= text_field_tag 'name', nil, :placeholder => "Please enter your name:", class: "name inline"%>
    <%= submit_tag 'Create', class: "create-session-submit inline" %>
  <% end %>
</div>