<div class="stage">
  <%= link_to 'Show Me Report', report_stage_path(:session_id => @s.id, :name => @user.name), method: :post %>
</div>
<table>
  <tr>
    <th>Issue</th>
    <th>Votes</th>
  </tr>
  <% @issues.each do |issue| %>
  <tr>
    <td><%= issue.detail %></td>
    <td><%= issue.vote %></td>
  </tr>
  <% end %>
</table>

<div class="current-issue-container">
  <label>Current Issue</label>
  <div class="current-issue">
    <% if @current_issue %>
      <%= @current_issue.detail %>
      <div class="thumb">
        <div class="thumb-wrapper up" data-issue-id="<%= @current_issue.id %>">
          <i class="fa fa-thumbs-o-up"></i>
        </div>
        <div class="thumb-wrapper down" data-issue-id="<%= @current_issue.id %>">
          <i class="fa fa-thumbs-o-down"></i>
        </div>
      </div>
      <%= render 'add_note', :current_issue => @current_issue %>
    <% else %>
      No More Issues!
    <% end %>
  </div>
</div>