<% if session_id and user_name %>
  <%= render 'admin_panel', session_id: session_id, review: true %>
<% end %>
<div class="issue-list-wrapper">
  <div class="subtitle">Issue List</div>
  <div class="issue-list">
    <% @issues.each do |issue| %>
      <% if issue.is_current %>
        <div class="issue-box current" data-session-id="<%= @s.id %>" data-issue-id="<%= issue.id %>">
      <% else %>
        <div class="issue-box" data-session-id="<%= @s.id %>" data-issue-id="<%= issue.id %>">
      <% end %>
      <span class="votes-count"><%= issue.vote %> <%= 'vote'.pluralize(issue.vote) %></span>
      <span class="issue-detail"><%= issue.detail %></span>
      </div>
    <% end %>
  </div>
</div>
<div class="current-issue-container">
  <%= render 'current_issue' %>
</div>
<video loop id="count-down-video">
  <source src="https://dl.dropbox.com/s/uc25haxy9cw9saz/nuclear_explosion.mp4?dl=0" type="video/mp4">
</video>