<div class="stage">
  <%= link_to 'Show Me Report', report_stage_path(:session_id => @s.id, :name => @user.name), method: :post %>
</div>
<div class="count-down">
  You have <span id="sec-left"></span> seconds left.
</div>
<div class="next-issue-wrapper">
  <button id="next-issue">Next Issue</button>
</div>
<table>
  <tr>
    <th>Issue</th>
    <th>Votes</th>
  </tr>
  <% @issues.each do |issue| %>
  <% if issue.is_current %>
  <tr class="current" data-session-id="<%= @s.id %>" data-issue-id="<%= issue.id %>">
  <% else %>
  <tr data-session-id="<%= @s.id %>" data-issue-id="<%= issue.id %>">
  <% end %>
    <td><%= issue.detail %></td>
    <td><%= issue.vote %></td>
  </tr>
  <% end %>
</table>

<div class="current-issue-container">
  <%= render 'current_issue' %>
</div>