<!DOCTYPE html>
<html>
<head>
  <title>Retro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
<% if flash[:notice] %>
 <div class="flash notice"><%= flash[:notice] %></div>
<% elsif flash[:error] %>
  <div class="flash error"><%= flash[:error] %></div>
<% end %>
<script type="text/javascript">
  $(function(){
    $('.flash').delay(1000).fadeOut(300);
  });
</script>
<div class="backgroud-overlay"></div>
<div class="app-container">
  <%= yield %>
</div>

<%= render 'session/app' %>
</body>
<footer>
  Created with Passion <span class="bar">|</span> Copyright &copy; <%= link_to 'Shan Huang', 'http://www.shanhuang.org/', target: '_blank' %> <span class="bar">|</span> <%= link_to 'Repo', 'https://github.com/huangshan108/retro', target: '_blank' %> under <%= link_to 'MIT License', 'http://opensource.org/licenses/MIT', target: '_blank' %>
</footer>
</html>
